<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Welcome Back! <%=userName%> </title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" 
      integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" 
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    
  

</head>
  
<body>
       <!--Flutuante-->
    <a href="/logout" class="logout" >Logout</a>
  
    <div class="container-right">
    <h1 class="title"><%=roomName%></h1>
    <div class="message-box" id="msg-box"></div>
    <input type="text" placeholder="Type a message..." id="msg">
    <button class="enviar" id="send" onclick="enviar()">Enviar</button>
    </div>

  <!-- AQUI EMBAIXO ENTRA O JAVASCRIPT-->

  <script >
    
    const socket = io();
    const roomName = "<%=roomName%>";
    const userName = "<%=userName%>";

    socket.emit("selected_room", { roomName:roomName, userName:userName});
    function enviar(){

        const msg = document.getElementById("msg").value;


        if (msg === ""){
            return;
        }
        else {
            socket.emit("message", {roomName, userName, msg});
            document.getElementById("msg").value="";
        }

    }

    socket.on("showmessage", data=>{

            let p = document.createElement("p");
            p.innerText = data.userName+": "+data.msg;
            p.style.marginBottom = "0.5rem";
            p.style.backgroundColor = "#A3A3A3";
            p.style.padding = "0.5rem";
            p.style.borderRadius = "0.3rem";
            p.style.overflow = "auto";
            let div = document.getElementById("msg-box");
            div.appendChild(p);
        })


    








    
  </script>



  
</body>


</html>