<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    <title>Loqui - Registre-se</title>
</head>
<body>
    
    <form class="form-register" method="POST" action="/register">
        <h1 class="title">Registre-se!</h1>
        <input type="text" name="userName" placeholder="Digite seu nome de usuário" required>
        <input type="email" name="email" placeholder="Digite seu email" required>
        <input type="password" name="password" placeholder="Digite sua senha" required>
        <a href="/"><p class="have-account">Já possui uma conta?</p></a>
        <button class="btn-submit">Registrar</button>    
    </form>
</body>
</html>