<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
  
    <title> Room!</title> <!--Alteração feita aqui, de acordo com o original-->
</head>


<body>
    <!--Flutuante-->
    <a href="/logout" class="logout" >Logout</a>
    
    <div class="container-left">
        <h1 class="title">Online</h1>
        <ul class="friend-list">
        </ul>


        <div class="container">
        <!--Form de criação de rooms-->
          <form action="/createRoom" method="POST">
            <label type="text" class="title" > Crie uma nova sala </label> 
            <input type="text" class="room-name" placeholder="Nome da sala" name="roomname" required>
            <select name="limit" required >
              <option value="-1">Selecione o tipo de sala</option>
              <option value="private">privado</option>
              <option value="group">grupo</option>
            </select>
            <button type="submit" class="create-room">Create room</button>
          </form>
          <br> <hr> 
        </div>
      
        

        <div class="container">

        <!-- Selecione rooms-->
          <form action="/selectedroom" method="POST">
            <input type="hidden"  value= "<%=username%>" name = "username" >
            <label type="text" class="title" > Selecione uma sala </label> 
            <select name="select_room">
              <option value="-1">Selecione uma sala</option>
              <% rms.forEach(function(name){ %>
              <option value="<%=name.roomname%>"><%=name.roomname%> </option>
              <% }); %>

            </select>
            
            <button type="submit" class="selectedRoom">Entrar</button>
          </form>
        </div>

    </div>

</body>

</html>